/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
2500px:         4K

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
- large-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (min-width: 156.25em) {
  html {
    font-size: 100%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  margin: auto;
}

main {
  max-width: 1188px;
  margin: 0 auto;
}

@media (min-width: 156.25em) {
  main {
    max-width: 1800px;
  }
}

.lazy {
  background-color: #EAEDED;
}

body {
  font-size: 2rem;
  line-height: 1.7;
}

body:lang(en) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

*:lang(th) {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.heading-primary {
  color: #204287;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
}

.heading-primary:lang(th) {
  color: #204287;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}

.heading-secondary {
  color: #5C5C5C;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.header {
  text-align: center;
  font-weight: 900;
}

.graybar {
  height: 5px;
}

.graybar-left {
  text-align: right;
}

.graybar-right {
  text-align: left;
}

.u-center-text {
  text-align: center  !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-big {
  margin-top: 6rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.2rem;
  padding: 0.2rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.btn--white {
  color: #FFFFFF;
  background: #5C5C5C;
}

.btn__gender, .btn__gender:link, .btn__gender:visited {
  background-color: #5C5C5C;
  color: #FFFFFF;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.more-button {
  text-align: center;
}

.header__banner img {
  width: 100%;
}

.header__bannerGray {
  background-color: #989898;
  text-align: center;
}

.header__bannerGray-logo {
  width: 15rem;
  margin: 2rem 0;
}

.banner__img {
  width: 100%;
  margin-bottom: 10px;
}

.item__section-color {
  width: 80%;
  max-width: 1188px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 156.25em) {
  .item__section-color {
    max-width: 1800px;
  }
}

.item__front, .item__back {
  background-size: cover;
}

.item__front img, .item__back img {
  width: 100%;
}

.item__color {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (25px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 25px);
  grid-row-gap: 5px;
}

.item__color-picker {
  width: 50px !important;
  height: 25px !important;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
}

.item__color-picker img {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item__color-picker:first-child {
  border: 1px solid black;
}

.item__section-detail {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 50% 35%;
      grid-template-columns: 15% 50% 35%;
}

@media (min-width: 156.25em) {
  .item__section-detail {
    max-width: 1800px;
  }
}

.detail-thumb {
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.detail-thumb__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.detail-thumb__slide {
  margin-bottom: 5px;
}

.detail-thumb__slide img {
  width: 100px;
}

.detail-top {
  width: 100%;
}

.detail-top__slide img {
  width: 100%;
}

.detail-description {
  padding: 10px;
  font-size: 1.5rem;
}

.detail-description__size-table table {
  margin: 0 auto;
}

.detail-description__size-table tr {
  text-align: center;
}

.detail-description__size-table tr th,
.detail-description__size-table tr td {
  padding: 3px 10px;
  border-bottom: 3px solid #FFFFFF;
}

.detail-description__size-table tr th:first-child,
.detail-description__size-table tr td:first-child {
  border-right: 3px solid #FFFFFF;
}

.detail-description__size-table tr th {
  background-color: #5C5C5C;
  color: #FFFFFF;
  font-weight: 400;
}

.detail-description__size-table tr td {
  font-weight: bold;
}

.detail-description__size-table tr td:first-child {
  background-color: #454545;
  color: #FFFFFF;
}

.gallery-thumbs .swiper-slide {
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.footer {
  background-color: #204287;
  text-align: center;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.footer .footer__name {
  font-size: 1.5rem;
}

.footer a:link,
.footer a:visited {
  color: #FFFFFF;
}

.footer__box {
  margin: 0 auto;
  max-width: 1188px;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 156.25em) {
  .footer__box {
    max-width: 1800px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo img {
  width: 130px;
}

@media (min-width: 156.25em) {
  .footer__logo img {
    width: 250px;
  }
}

.footer__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  border-left: 1px solid white;
}

.footer__contact {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__contact-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.footer__contact-3 > * {
  margin-bottom: 0;
}

.footer__socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  border-left: 1px solid white;
}

.footer__social {
  padding: 0 1rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__social-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: start;
}

.footer__social-2 img {
  width: 38px;
}

@media (min-width: 156.25em) {
  .footer__social-2 img {
    width: 70%;
  }
}

.footer__social-3, .footer__social-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.footer__whitebar {
  height: 2.5rem;
  background-color: #FFFFFF;
}

.topnav {
  margin: 1rem 0;
  overflow: hidden;
  background-color: #E61E29;
}

@media (min-width: 56.25em) {
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
}

.topnav a:not(:last-child):hover,
.topnav a:not(:last-child):active {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.section-product {
  margin: auto;
  width: 90%;
}

.swiper-container__slide3 {
  padding-left: 50px;
  padding-right: 50px;
}

.swiper-slide__slide3 {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-slide__slide3 .cloth a {
  display: block;
}

.swiper-slide__slide3 .cloth__img {
  width: 100%;
}

.swiper-slide__slide3 .cloth__price {
  width: 100%;
  text-align: left;
  padding-left: 10px;
}

.swiper-container__slide2 {
  height: 23vw;
  width: 100%;
}

.swiper-wrapper__slide2 {
  padding-left: 8px;
}

.swiper-slide__slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 10vw !important;
  height: 10vw !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.swiper-slide__slide2__img {
  width: 75%;
  height: 75%;
  border-radius: 90%;
}

@media (min-width: 156.25em) {
  .swiper-slide__slide2__img {
    width: 100%;
    height: 100%;
  }
}

.socialmedia {
  background-color: #818181;
  width: auto;
  position: fixed;
  bottom: 30px;
  right: -25px;
  z-index: 5000;
}

.socialmedia__checkbox {
  display: none;
}

.socialmedia__button {
  margin: 0;
}

.socialmedia__icon {
  margin: 0 7px 5px;
  width: 100%;
  cursor: pointer;
}

.socialmedia__icon img {
  width: 15px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.socialmedia__nav {
  background-color: #C9C9C9;
  width: auto;
  padding: 5px 0;
}

.socialmedia__list {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.socialmedia__item {
  width: 100%;
  padding: 0;
  margin-right: 5px;
  opacity: 0;
}

.socialmedia__item a {
  display: block;
  height: 100%;
}

.socialmedia__item a img {
  width: 50px;
}

.socialmedia__checkbox:checked ~ .socialmedia__button .socialmedia__icon img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.socialmedia__rotated {
  opacity: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: 8000;
  position: fixed;
  bottom: 25px;
  font-size: 16px;
  background-color: #C9C9C9;
  color: #818181;
  padding: 2px;
  text-align: center;
  height: 271px;
  width: 100%;
}

@media (min-width: 156.25em) {
  .socialmedia__rotated {
    height: 300px;
  }
}

.swiper-container__slide1 {
  width: 95%;
}

.swiper-wrapper__slide1 {
  padding-left: initial;
  margin: 0;
}

.swiper-slide__slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide__slide1 img {
  height: auto;
  width: 100%;
}

/*     .swiper-slide:nth-child(2n) {
    width: 60%;
}
.swiper-slide:nth-child(3n) {
    width: 40%;
} */
.text {
  margin: auto;
  width: 90%;
}

.form {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.form__input {
  width: 100%;
  padding-left: 3rem;
}

.form ::-webkit-input-placeholder {
  /* Firefox */
  opacity: 0.2;
}

.form :-ms-input-placeholder {
  /* Firefox */
  opacity: 0.2;
}

.form ::-ms-input-placeholder {
  /* Firefox */
  opacity: 0.2;
}

.form ::placeholder {
  /* Firefox */
  opacity: 0.2;
}

.form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.2;
}

.form ::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 0.2;
}

.form__submit {
  background-color: #5C5C5C;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 0.3rem 4rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.map {
  margin: 0 auto;
  width: 90%;
}

.map__img {
  width: 100%;
}

.googleMap {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.googleMap__mapouter {
  margin: 0 auto;
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.googleMap__gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.googleMap__iframe {
  height: 500px;
  width: 100%;
}

.home__section-swiper {
  margin: auto;
  width: 90%;
}

.home__section-project {
  margin: auto;
  width: 90%;
}

.home__section-banner {
  margin: auto;
  width: 90%;
}

.product__section-banner {
  margin: auto;
  width: 100%;
}

.banner img {
  width: 100%;
}

.img3 img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */