*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  margin: auto;
}

body {
  font-size: 2rem;
  line-height: 1.7;
}

body:lang(en) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

*:lang(th) {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.heading-primary {
  color: #204287;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
}

.heading-secondary {
  color: #5C5C5C;
  text-transform: uppercase;
  font-size: 2rem;
}

.u-center-text {
  text-align: center  !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.2rem;
  padding: 0.2rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.btn--white {
  color: #FFFFFF;
  background: #5C5C5C;
}

.more-button {
  text-align: center;
}

.header__banner {
  margin-bottom: 15px;
}

.banner__img {
  width: 100%;
  margin-bottom: 10px;
}

.footer {
  background-color: #204287;
}

.footer span {
  font-size: 2.5rem;
}

.footer p {
  font-size: 2rem;
  margin-bottom: 0;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__container {
  background-color: #204287;
  color: #FFFFFF;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__col {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer__col:first-child {
  margin: auto;
}

.footer__col:not(:first-child) {
  border-left: 2px solid #FFFFFF;
  padding-left: 2rem;
}

.footer__col__icon {
  max-width: 40%;
  margin: auto;
}

.footer__col__socialmedia__list {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.footer__col__socialmedia__item {
  margin-right: 30px;
}

.footer__col__socialmedia__item a {
  cursor: pointer;
}

.footer__col__socialmedia__item a img {
  width: 50px;
}

.footer__address {
  margin-bottom: 1.5rem;
}

.footer__span {
  margin-bottom: 3rem;
}

.footer__tel, .footer__fax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__tel-name, .footer__fax-name {
  width: 12rem;
}

.footer__fax {
  margin-bottom: 1.5rem;
}

.footer__whitebar {
  background-color: #FFFFFF;
  height: 30px;
}

.header {
  text-align: center;
  font-weight: 900;
}

.graybar {
  height: 5px;
}

.graybar-left {
  text-align: right;
}

.graybar-right {
  text-align: left;
}

.topnav {
  overflow: hidden;
  background-color: #E61E29;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
}

.topnav a:not(:last-child):hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.swiper-container__slide3 {
  width: 90%;
  height: 37vw;
}

.swiper-slide__slide3 {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-slide__slide3 .cloth {
  position: initial;
  display: block;
}

.swiper-slide__slide3 .cloth img {
  width: 100%;
}

.swiper-slide__slide3 .cloth__side {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.swiper-slide__slide3 .cloth__side a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide__slide3 .cloth__side--front {
  opacity: 1;
}

.swiper-slide__slide3 .cloth__side--back {
  opacity: 0;
}

.swiper-slide__slide3 .cloth__side--front:hover {
  opacity: 0;
}

.swiper-slide__slide3 .cloth__side--back:hover {
  opacity: 1;
}

.swiper-slide__slide3 .price {
  display: block;
  width: 95%;
  position: absolute;
  bottom: 10px;
  text-align: left;
}

.swiper-container__slide2 {
  height: 23vw;
}

.swiper-wrapper__slide2 {
  padding: 0 3.5vmax;
}

.swiper-slide__slide2 {
  /* width: 200px; */
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 10vw !important;
  height: 10vw !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.swiper-slide__slide2__img {
  width: 100%;
}

.socialmedia {
  background-color: #818181;
  width: auto;
  position: fixed;
  top: 500px;
  right: -25px;
  z-index: 5000;
}

.socialmedia__checkbox {
  display: none;
}

.socialmedia__icon {
  margin: 5px 7px;
  width: 100%;
}

.socialmedia__icon img {
  width: 15px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.socialmedia__nav {
  background-color: #C9C9C9;
  width: auto;
  padding: 5px 0;
}

.socialmedia__list {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.socialmedia__item {
  width: 100%;
  padding: 0;
  margin-right: 5px;
  opacity: 0;
}

.socialmedia__item a {
  display: block;
  height: 100%;
}

.socialmedia__item a img {
  width: 50px;
}

.socialmedia__checkbox:checked ~ .socialmedia__button .socialmedia__icon img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.socialmedia__rotated {
  opacity: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: 8000;
  position: fixed;
  top: 551px;
  font-size: 16px;
  background-color: #C9C9C9;
  color: #818181;
  padding: 2px;
  text-align: center;
  height: 271px;
  width: 100%;
}

.swiper-container__slide1 {
  height: 30rem;
  width: 95%;
}

.swiper-wrapper__slide1 {
  padding-left: initial;
  margin: 0;
}

.swiper-slide__slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide__slide1 img {
  height: auto;
  width: 100%;
}

/*     .swiper-slide:nth-child(2n) {
    width: 60%;
}
.swiper-slide:nth-child(3n) {
    width: 40%;
} */
.content {
  width: 100%;
}

.section-swiper {
  margin: auto;
  width: 90%;
}

.section-project {
  margin: auto;
  width: 90%;
}

.section-banner {
  margin: auto;
  width: 90%;
}

.section-lastest-product {
  margin: auto;
  width: 90%;
}
/*# sourceMappingURL=style.css.map */