
.row__color{
  
    div[class^="col"]{
      padding:0;
    }
    
  }

  
  .column-color{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .column-front{
    background-size: cover;
    height: 500px;

  }

  .column-back{
    background-size: cover;
    height: 500px;

  }

  .color-picker{
  
    width: 50px !important;
    height: 25px !important;
    background-position: center;
margin:3px;    
  }