
.row__color{
    // height: 300px;
  
    div[class^="col"]{
      padding:0;
      height: 300px;
    }
    
  }

  
  .column-color{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  }
  .color-picker{
  
    width: 50px !important;
    height: 50px !important;
    border: 1px solid;
  }