.item {

  &__section-color {
    width: 80%;
    max-width: 1188px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;

    @include respond(large-desktop) {
      max-width: 1800px;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {

      margin-bottom: 10px;
      width: 100%;
      grid-template-columns: 88% 12%;
      grid-template-rows: 1fr 1fr;

    }

  }

  &__front,
  &__back {
    background-size: cover;

    img {
      width: 100%;
    }
  }

  &__back {

    @include respond(phone) {
      grid-row-start: 2;
      grid-row-end: 3;
    }

  }



  &__color {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 25px);
    grid-row-gap: 5px;

    @include respond(phone) {
      grid-row-start: 1;
      grid-row-end: 3;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }


    &-picker {
      width: 50px;
      height: 25px;
      background-position: center;
      cursor: pointer;
      overflow: hidden;

      @include respond(phone) {
        width: 100%;
        flex-grow: 1;
      }


      img {
        transform: translate(-50%, -50%);

      }

      &:first-child {
        border: 1px solid black;

      }
    }
  }



}