.item {
    &__section-detail {
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 15% 50% 35%;
        margin-bottom: 30px;
        

        @include respond(large-desktop) {
            max-width: 1800px;
        }

        @include respond(tab-port) {
            margin-bottom: 20px;
        }
        
        @include respond(phone) {
            grid-template-columns: 1fr;
        }


    }
}

.detail {


    &-thumb {
        width: 100%;
        margin: 0;
        cursor: pointer;

        @include respond(phone) {
            display: none;
        }

        &__wrapper {
            display: grid;
            justify-content: center;
            align-content: flex-start;
        }

        &__slide {
            margin-bottom: 5px;
            width: 100% !important;

            img {
                width: 90px;

                @include respond(large-desktop) {
                    width: 140px;
                }

                @include respond(tab-land) {
                    width: 80px;
                }

                @include respond(tab-port) {
                    width: 60px;
                }
            }
        }

    }

    &-top {
        width: 100%;

        &__wrapper {
        }

        &__slide {

            @include respond(phone){
                width: 80% !important;
            }
     
            img {
                width: 100%;
        
          
            }
        }


    }



    &-description {
        padding: 10px;
        font-size: 1.5rem;

        &__gender{


        }

        &__size-table {
            table {
                margin: 0 auto;
            }


            tr {
                text-align: center;

                th,
                td {
                    padding: 3px 10px;
                    border-bottom: 3px solid $color-white;

                    &:first-child {
                        border-right: 3px solid $color-white;
                    }
                }

                th {
                    background-color: $color-th;
                    color: $color-white;
                    font-weight: 400;

                }

                td {
                    font-weight: bold;
                }

                td:first-child {
                    background-color: $color-td-size;
                    color: $color-white;

                }

            }
        }
    }
}

.gallery-thumbs .swiper-slide {
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.at-share-btn-elements{
      @include respond(tab-port) {
        text-align: center;   
     }

   
    

}
