.item {
    &__section-detail {
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 15% 50% 35%;

        @include respond(large-desktop) {
            max-width: 1800px;
        }


    }
}

.detail {
    &-thumb {
        width: 100%;
        margin: 0;
        cursor: pointer;

        &__wrapper {
            display: grid;
            justify-content:center ;
            align-content: flex-start;
        }

        &__slide {
            margin-bottom: 5px;


            img {
                width: 100px;
            }
        }

    }

    &-top {
        width: 100%;

        &__wrapper {

        }

        &__slide {

            img {
                width: 100%;
            }
        }
    }



    &-description {
        padding: 10px;
        font-size: 1.5rem;

        &__size-table{
        table{
            margin: 0 auto;
        }
      

            tr{
                text-align: center;

                th,
                td{
                    padding: 3px 10px;
                    border-bottom: 3px solid $color-white;
                    
                    &:first-child{
                        border-right: 3px solid $color-white;
                    }
                }

                th{
                    background-color: $color-th;
                    color:$color-white;
                    font-weight: 400;
                   
                }
                td{
                    font-weight: bold;
                }
                td:first-child{
                    background-color: $color-td-size;
                    color:$color-white;
                    
                }

            }
        }
    }
}

.gallery-thumbs .swiper-slide {

    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active{
    opacity: 1;
  }