.row__detail{
    // height: 700px;
  
    //   div[class^="col"]{
    //     width: 100%;
    //     // height: 100%;
    //   }
  }

.gallery-thumbs {
    width: 70px;
    height: 100%;

    & .swiper-slide {
        // width: 25%;
        // height: 100%;
        opacity: 0.4;
    }

    & .swiper-slide-thumb-active {
        opacity: 1;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        /* Safari */
        -webkit-flex-wrap: wrap;
        /* Safari 6.1+ */
        display: flex;
        flex-wrap: wrap;
    }

    &__slide {
        width: 100% !important;
        height: auto;
        margin: 0 !important;
        cursor: pointer;
    }

    &__img {
        width: 100%;
    }
}



.gallery-top {
    height: 100%;

    &__slide {
        text-align: center;
    }

    &__img {
        width: 100%;
    }
}


.gender {

    &__btn {
        display: inline-block;
        background-color: #5C5C5C;
        width: 5rem;
        height: 1.5rem;
        margin: auto;
        text-align: center;
        padding: 3px;

        &-text {

            font-size: 0.8rem;
            color: white;

        }
    }
}