
.topnav {
  margin: 1rem 0;
    overflow: hidden;
    background-color: $color-navbar;
    // display: flex;
    // justify-content: space-around;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .topnav a:not(:last-child):hover,
  .topnav a:not(:last-child):active {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }