.section-product {
    @include horizontalCenter;

}
.swiper-container__slide3 {
padding-left: 50px;
padding-right: 50px;

}

.swiper-slide__slide3 {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap:wrap;

    .cloth {

        a{
            display: block;
   
        }

        &__img{
            width: 100%;
        }

        &__price{
            width: 100%;
            text-align: left;
            padding-left: 10px;
        }
    }
        
}

