.section-product {
    @include horizontalCenter;

}
.swiper-container__slide3 {
padding-left: 50px;
padding-right: 50px;

}


.swiper-slide__slide3 {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap:wrap;


    .cloth {
        height: 22vmax;

        @include respond(large-desktop){
            height: 680px;
        }

        img {
            width: 100%;
        }
 
 
  
        &__side {
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
  
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.8s;
  
  
            &--front {
                opacity: 1;
            }
  
            &--back {
                opacity: 0;
            }
  
            &--front:hover {
                opacity: 0;
            }
  
            &--back:hover {
                opacity: 1;
            }
        }
    }
        
    .price{
        display:block;
        width: 95%;
        position: absolute;
        bottom: 10px;
        text-align: left;
        font-size: 1.5rem;
    }
}

