//slide 1
.swiper-container__slide1 {
    width: 95%;
}
.swiper-wrapper__slide1{
  padding-left: initial;
  margin: 0;

}

.swiper-slide__slide1 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    // border-right: 1px solid black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img{
        height: auto;
        width: 100%;
    }
}
/*     .swiper-slide:nth-child(2n) {
    width: 60%;
}
.swiper-slide:nth-child(3n) {
    width: 40%;
} */

// video{
//     height: 390px;
//     width: 640px;
// }
