*,
*::after,
*::before {
    margin: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    // 1rem = 10px; 10px/16px = 62.5%
    font-size: 62.5%;

    @include respond(large-desktop) {
        font-size: 100%;
    }
}

body {
    // border and padding not added to total width and total height
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.content {
    margin: auto;
}

main {
    max-width: 1188px;
    margin: 0 auto;

    @include respond(large-desktop) {
        max-width: 1800px;
    }
}