body {
    font-size: 2rem;
    line-height: 1.7;

    &:lang(en) {
        font-family: "Lato", sans-serif;
        font-weight: 400;
    }


}

*:lang(th) {
    font-family: "Kanit", sans-serif ;
    font-weight: 400;
}

.heading-primary{
    color:$color-primary;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:2rem;
}

.heading-secondary{
    color:$color-secondary;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header {
    text-align: center;
    font-weight: 900;
}

.graybar {
    height: 5px;

    &-left {
        text-align: right;
    }

    &-right {
        text-align: left;
    }
}
