.btn{
    &,
    &:link,
    &:visited{
        font-size: 1.2rem;
        padding: 0.2rem 4rem;
        text-transform: uppercase;
        text-decoration: none;
        border:none;
        cursor: pointer;
        display: inline-block;


    }

    &--white{
        color: $color-white;
        background: $color-buttom-more;
    }

    &__gender{
        &,
        &:link,
        &:visited{
            background-color: $color-secondary;
            color:$color-white;
            font-size:1.3rem;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            width: 30%;

            @include respond(phone){
                width: 49%;

            }
        }

       



    }
}

.more-button{
    text-align: center;
}