@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin horizontalCenter{
    margin: auto;
    width: 90%;
}

@mixin horizontalCenterFit{
    margin: auto;
    width: 100%;
}

@mixin verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
2500px:         4K

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
- large-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width: 37.5em) {
            @content
        }
        //600px
    }
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) {
            @content
        }
        //900px
    }
    @if $breakpoint == tab-port-plus{
        @media (min-width: 56.25em) {
            @content
        }
        //900px+
    }


    @if $breakpoint == tab-land{
        @media (max-width: 75em) {
            @content
        }
        //1200px
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em) {
            @content
        }
        //1800px
    }
    @if $breakpoint == large-desktop{
        @media (min-width: 156.25em) {
            @content
        }
        //2500px
    }
}