$color-primary: #204287;
$color-secondary: #5C5C5C;

$color-text-header-dec:#DDDDDC;

$color-white: #FFFFFF;

$color-buttom-more: #5C5C5C;


$color-header-background: #989897;
$color-navbar: #E61E29;
$color-footer:#204287;

$color-socialmedia-1:#818181;
$color-socialmedia-2:#C9C9C9;



//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
// for graybar
$gutter-horizontal-graybar: 2rem;





